header {
    background-color: #BBBBBB;
    padding: 20px 0; /*Para que nada "toque" na linha do cabeçalho*/
}

.caixa {
    position: relative; /*o menu está com posicionamento absoluto em relação à página, para ele ficar dentro da div (caixa) ela precisa estar com posicionamento relativo, para "levantar"*/
    width: 940px;/*largura padrão na web, pq a maioria das boas resoluções usa 1260px de largura, então 940px está com uma boa margem*/
    margin: 0 auto; /*Se eu colocar percentual ou margin fixada, é possível que em outra tela o cabeçalho não fique centralizado, então usamos o "auto" para que ele se auto calcule*/
}

nav {
    position: absolute; /*Menu é absoluto dentro da div "caixa", que é relative*/
    top: 110px;
    right: 0;

}

nav li {
    display: inline;/*Transformando as listas do menu para o formato inline (de forma a ficarem uma do lado da outra)*/
    margin: 0 0 0 15px; /*Define o espaçamento externo das linhas. O espaçamento entre as linhas da navegação são feitas no item (nav li) e não no linl (nav a), pois a alteração é no comportamento externo das linhas, e não no conteúdo*/
}

nav a {
    text-transform: uppercase; /*Tranforma o texto em maiúsculo*/
    color: #000000;
    font-weight: bold; /*Define o texto em "negrito"*/
    font-size: 22px; /*Define o tamanho da letra*/
    text-decoration: none; /*Tira a decoração do texto (o sublinhado)*/
}