body {
    font-family: 'Montserrat', sans-serif;
    
}

header {
    background-color: #BBBBBB;
    padding: 20px 0; /*Para que nada "toque" na linha do cabeçalho*/
}

.caixa {
    position: relative; /*o menu está com posicionamento absoluto em relação à página, para ele ficar dentro da div (caixa) ela precisa estar com posicionamento relativo, para "levantar"*/
    width: 940px;/*largura padrão na web, pq a maioria das boas resoluções usa 1260px de largura, então 940px está com uma boa margem*/
    margin: 0 auto; /*Se eu colocar percentual ou margin fixada, é possível que em outra tela o cabeçalho não fique centralizado, então usamos o "auto" para que ele se auto calcule*/
}

nav {
    position: absolute; /*Menu é absoluto dentro da div "caixa", que é relative*/
    top: 110px;
    right: 0;

}

nav li {
    display: inline;/*Transformando as listas do menu para o formato inline (de forma a ficarem uma do lado da outra)*/
    margin: 0 0 0 15px; /*Define o espaçamento externo das linhas. O espaçamento entre as linhas da navegação são feitas no item (nav li) e não no linl (nav a), pois a alteração é no comportamento externo das linhas, e não no conteúdo*/
}

nav a {
    text-transform: uppercase; /*Tranforma o texto em maiúsculo*/
    color: #000000;
    font-weight: bold; /*Define o texto em "negrito"*/
    font-size: 22px; /*Define o tamanho da letra*/
    text-decoration: none; /*Tira a decoração do texto (o sublinhado)*/
}

nav a:hover {
    color: #C76C16; /*altera a cor da borda quando o mouse passar por cima*/
    text-decoration: underline; /*inclui o "sublinhado" quando o mouse passar por cima*/
}

.produtos { /*essa classe está marcando a lista "ul". Fazemos esse posicionamento para centralizar a lista*/
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li { /*as "li" dentro da classe "produtos"*/
    display: inline-block; /*para fazer as "li" ficarem uma do lado da outra*/
    text-align: center; /*para alinhar o texto dentro das "li" para o centro*/
    width: 30%; /*página tem 100%, dividindo por 3 dá apoximadamente 30% para cada "li"*/
    vertical-align: top; /*o inline-block sempre alinha o conteúdo pela linha de baixo, com o "vertical-align: top" mudamos o alinhamento*/
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box; /*com essa propriedade, os "30%" do WIDTH são definitivos, e o padding está contando DENTRO dos 30% do WIDTH*/
    border: 2px solid #000000;
    border-radius: 10px;
}

.produtos li:hover {
    border-color: #C76C16; /*altera a cor da borda quando o mouse passar por cima*/
}

.produtos li:hover h2 {
    font-size: 34px; /*para alterar o tamanho da fonte, preciso indicar a tag (no caso H2) que será alterada.*/
}

.produtos li:active {
    border-color: #088C19; /*altera a cor da borda quando o "clique" do mouse está pressionado (ativo)*/
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao {
    font-size: 18px;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 0; /*para cima, para os lados, para baixo*/
}

footer {
    text-align: center; /*centraliza o texto dentro do elemento*/
    background: url("bg.jpg"); /*imagem pequena e o CSS vai replicando no resto do tamanho do elemento*/
    padding: 40px 0;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin-top: 20px;
}

main {
    width: 940px; /* delimita a largura da parte principal da página */
    margin: 0 auto;
}

form {
    margin: 40px 0;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    background-color: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 0.5s all; /*para fazer a transição da cor do fundo coloco os segundos e o que quero que mude*/
    cursor: pointer;
}

.enviar:hover {
    background-color: darkorange;
    transform: scale(1.2); /*scale() = importante usarmos o scale e ao invés de usar percentual (%) usamos a ideia de multiplicaçao (nesse caso, por 1.2)*/
}

table { /*estilização da localização da tabela*/
    margin: 20px 0 40px;
}

thead { /*estilização para o cabeçalho*/
    background-color: #555555;
    color: white;
    font-weight: bold;
}

td, th { /*estilizção para as células*/
    border: 1px solid #000000; /*borda para as células*/
    padding: 8px 15px;
}

.cidade-tabela {
    text-align: center;
    padding: 4px 15px;
}

/* css da página inicial */
.banner {
    width: 100%;
}

.titulo-principal {
    text-align: center;
    font-size: 2em;
    margin: 0 0 1em; /* vai ter o espaço, para baixo, do tamanho da própria fonte */
    clear: left;
}

.principal p {
    margin: 0 0 1em;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.utensilios {
    width: 120px;
    float: left;
    margin: 0 20px 20px 0;
}

.imagem-beneficios {
    width: 60%;
}

.mapa {
    padding: 3em 0; /* espaçamento proporcional ao tamanho da fonte do site */
}

.mapa p {
    text-align: center;
    margin: 0 0 2em;
}

